@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@700&display=swap");

:root {
}

body {
  margin: 0;
  padding: 0;
  font-family: "Rethink Sans", sans-serif;
}

.screen {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url(cover.jpg);
  background-size: cover;
  background-position: 50% 100%;
  overflow: hidden;
}

.wave {
  position: absolute;
  width: 100%;
  height: auto;
  // TODO dirty
  aspect-ratio: 8/1;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background-image: url(wave.svg);
  background-size: auto 100%;
  animation: waveMask 3s linear infinite;
}

.counterAbove {
  position: absolute;
  width: 100%;
  height: auto;
  // TODO dirty
  aspect-ratio: 8/1;
  bottom: 7vw;
  left: 0;
}

.digits {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  transform: translate(-50%, -48%);
  animation: waveDigit 6s linear infinite;
  display: flex;
}

.digit {
  display: block;
  position: relative;
  font-size: 20vw;
  letter-spacing: -1vw;
  color: white;

  &-live {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }

  &-dead {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes waveDigit {
  0% {
    transform: translate(-50%, -48%) rotate(0);
  }
  25% {
    transform: translate(-50%, 15%) rotate(7deg);
  }
  50% {
    transform: translate(-50%, -48%) rotate(0);
  }
  75% {
    transform: translate(-50%, 15%) rotate(-7deg);
  }
  100% {
    transform: translate(-50%, -48%) rotate(0);
  }
}

@keyframes waveMask {
  0% {
    background-position: 0vw 0px;
  }
  100% {
    background-position: 100vw 0px;
  }
}
